


ul{
   
   
    list-style: none;
   
    display:block;
  
   
}
ul>li>a{
       
        text-decoration: none;
        text-align: center;
       
        text-transform: uppercase;
        color:bisque;
       
       
      

}
li{
    width:100%;
    height:50px;
    background-color:blue;
    display:inline-block;
    color: aquamarine;
    text-align: center;
 
  
   
    
    
}   
