div{
    height: 200px;
    width:400px;
    background-color: pink;
    border:4px solid black;
    border-radius:10px;
    padding:50px;
   
    margin:25px;
  

}
P{
    border:2px dotted blue;
}
input[type="button"]{
 
   
    border-top-right-radius: 12px;
    padding:0px 25px 0px 10px;
}


