




.id{
    width:100%;
    height:100px;
    background-color: aquamarine;
    color:blue;
   
    border: 2px silver;
    text-align: center;

    margin-top: 0px;
    font-size: 25px;
    padding-top: 40px;
    text-transform: uppercase;

}
.id1{
    width:200px;
    height:200px;
    background-color: brown;
    color: blue;
    text-transform: uppercase;
    float: left;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.id2{
    width:200px;
    height:200px;
    background-color: brown;
    color: blue;
    text-transform: uppercase;
    float: right;
    padding-top: 30px;
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 10px;
    text-align:center;
}
.id3{
    width: 100%;
    height:100px;
    margin-top: 300px;
    background-color:aquamarine;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}